/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
/* body {
  font-family: 'Roboto-Flex-Variable', sans-serif;
}  */
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: 'Inter-Variable', sans-serif;/* tovar */
}

.header {
  font-family: "PressStart2P", sans-serif;/* tovar */
  font-weight: 400;/* tovar */
}

.header__container {
  margin: 100px auto;
  background-color: #fff;
  border: 2px solid #000;

  inline-size: 700px;/* tovar */
  block-size: 368px;/* tovar */
}

.header__title {
  font-size: 65px;/* tovar */
  line-height: 65px;/* tovar */
  text-align: center;
  margin-top: 128px;
}

.header__subtitle {
  font-size: 23px;/* tovar */
  line-height: 26px;/* tovar */
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card{
  display: flex;
  font-weight: 400;/* tovar */
  flex-direction: column;
  align-items: stretch;
  inline-size: 700px;
  border: 2px solid #000;
}

.card__header {
  font-weight: 700;/* tovar */
  font-size: 18px;/* tovar */
  line-height: 21.78px;
  margin: 4px auto 5px 10px;/* tovar */
}

.card__image{
  inline-size: 100%;
  block-size: 700px;
}

.card__desription {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 26px;/* tovar */
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.card__button {
  font-family: "PressStart2P", sans-serif;/* tovar */
  font-weight: 400;/* tovar */
  font-size: 14px; /* tovar */
  inline-size: 130px;
  block-size: 38px;
  align-self: flex-end;
  background-color: transparent;
  border: 2px solid #000;
}