/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font, sans-serif);
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight);
}

.header {
  margin: var(--header-top-margin) auto;
  border: 2px solid var(--border-color);
  padding-top: var(--header-top-padding);
  padding-bottom: var(--header-top-padding);
  font-family: var(--header-font, fantasy);
  font-weight: var(--main-font-weight, 400);
  background-color: #fff;
  min-inline-size: 375px;
  inline-size: min(100vw, clamp(375px, 49%, 700px));
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: var(--header-font-size);
  text-align: center;
}

.header__subtitle {
  margin-top: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--main-content-gap);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid var(--border-color);
  font-weight: var(--main-font-weight, 400);
  background-color: #fff;
  inline-size: min(100vw, clamp(375px, 49%, 700px));
}

.card__header {
  margin: 3px 24px 3px 10px;
  font-size: var(--card-decription-font-size);
  line-height: 22px;
  word-break: keep-all;
  font-variation-settings: "wght" var(--bold-font-weight);
}

.card__container-image {
  position: relative;
  border: 2px solid var(--border-color);
  overflow: hidden;
  inline-size: 100%;
}

.card__image {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.filter_blur {
  filter: blur(5px);
}

.filter_brightness {
  filter: brightness(200%);
}

.filter_contrast {
  filter: contrast(10%);
}

.filter_invert {
  filter: invert(80%);
}

.filter_opacity {
  filter: opacity(10%);
}

.filter_sepia {
  filter: sepia(80%);
}

.filter_saturate {
  filter: saturate(140%);
}

.filter_saturate.filter_sepia {
  filter: sepia(80%) saturate(140%);
}

.card__image-tag {
  position: absolute;
  top: var(--card-content-gap);
  right: var(--tag-offset);
  opacity: 0.5;
  font-family: var(--header-font, fantasy);
  font-weight: var(--main-font-weight, 400);
  font-size: var(--main-font-size);
  text-shadow:
  -1px 0 #fff, 
  0 1px #fff, 
  1px 0 #fff, 
  0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__image-tag {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;/* tovar *//* tovar *//* tovar */
  }
} 

.card__desription {
  display: flex;
  flex-direction: column;
  gap: var(--card-content-gap);
  margin: 27px 25px 26px;
  font-weight: var(--main-font-weight, 400);
  font-size: var(--card-decription-font-size);
  line-height: 21px;/* tovar */
}

.card__text {
  margin-top: 3px;
}

.card__text:last-of-type {
  margin-bottom: 0px;
}

.button {
  position: relative;
  border: 2px solid var(--border-color);
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.button__text {
  z-index: 1;
  color: white;
  font-family: var(--header-font, fantasy);
  font-weight: var(--main-font-weight, 400);
  font-size: var(--main-font-size); /* tovar */
  inline-size: 100%;
  mix-blend-mode: difference;
}

.button__container {
  /* margin-bottom: 1px; */
  display: flex;
  gap: 9px;
  align-self: flex-end;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--accent-color);
  outline: none;
}

.button:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(var(--accent-color), var(--accent-color));
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  inline-size: var(--like-btn-width);
  block-size: var(--like-btn-height);
}

.save_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 103px;
  inline-size: var(--save-button-width);
  block-size: var(--save-button-height);
}

.save_dialog {
  margin: auto;
  text-align: center;
  min-inline-size: var(--dialog-inline-size);
  max-inline-size: var(--dialog-inline-size);
  padding: var(--dialog-top-margin) var(--dialog-side-margin);
}

.save_dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.save_dialog::backdrop {
  background-color: rgb(0, 0, 0 , 0.75);
}

.ok_button {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  inline-size: 100%;
  /* inline-size: calc(var(--dialog-ok-button-width) - 100px); */
  block-size: var(--dialog-ok-button-height);
}

.card__icon-button {
  margin-top: 2px;
  border: none;
  padding: 0;
  background-color: transparent;
  block-size: var(--like-btn-icon-height);
  inline-size: var(--like-btn-icon-height);
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}

.like-icon {
  margin: 0;
  padding: 0;
  padding-right: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.floppy-icon {
  z-index: 1;
  color: white;
  inline-size: var(--svg-save-icon-size);
  block-size: var(--svg-save-icon-size);
  mix-blend-mode: difference;
}

.dialog__floppy-icon {
  padding: 0;
  object-fit: contain;
  min-inline-size: 39px;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  gap: 20px;
  /* margin: 0 var(--dialog-side-margin) 30px; */
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .header__container {
    width: 100vw;
    margin-right: 0;
    padding: 0;
  }

  .header__title {
    margin-top: 0px;
  }
 
  .header__subtitle {
    margin-top: 5px;
  }
    
  .card {
    margin-right: 0;
    margin-left: 0;
    border: 2px solid var(--border-color);
    inline-size: 100%;
  }

  .button__container {
    gap: 10px;
  }

  .like-icon {
    padding-right: 0;
  }

  .save_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
 
}